.ak-post {
	&__headline {
		color: $copy-color!important;
		margin: .5em 0 0!important;
		font-weight: 600!important;
	}

	&__content p:first-child {
		margin-top: 0!important;
	}

	&.akMedia-post {
		.akMedia-post__headline {
			display: none;
		}
	}

	
}

.ak-posts {
	&.onePage {

		&.slick-slider {
			border-top: 2px dotted;
		}
	}
} 

.ak-post-wrapper {
	&.onePage-wrapper {
		position: relative;
	}
}