.ak-carousel {

	blockquote {
		padding: 0!important;
		font-size: 1.5em!important;    
		line-height: 1.2em!important;
		margin-top: .5em!important;
	}

	
}

.ak-carousel-wrapper {

	.ak-carousel-post__headline {
		color: $copy-color!important;
		margin: 0.5em 0 0 !important;
    	font-weight: 600;
	}

	.ak-carousel__bottom {
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	    margin-top: 2em;
	}


	.ak-carousel__button,
	.ak-carousel__button:focus {
		border: none;
	    background: none;
	    padding: 0;
	    outline: none;

	    .ak-carousel__icon {
		    height: 30px;
		    width: 30px;
	        transition: fill 300ms ease-in;
	    }

	    &:hover {
	        .ak-carousel__icon {
	            fill: $accent-color;
	        }
	    }
	}
}