/*****
	
	Used to style the post for plugins:
	- Ak Onepage
	- Ak media with archive 
	- Ak carousel

****/

.ak-post {
	&__headline {
		color: $copy-color!important;
		margin: .5em 0!important;
		font-weight: 600!important;
	}

	&__content p:first-child {
		margin-top: 0!important;
	}

	&.akMedia-post {
		.akMedia-post__headline {
			display: none;
		}
	}

	blockquote {
		padding: 0!important;
		font-size: 1.5em!important;    
		line-height: 1.2em!important;
		margin-top: .5em!important;
	}
}

.ak-posts {
	&.onePage {

		&.slick-slider {
			border-top: 2px dotted;
		}
	}
} 

.ak-post-wrapper {
	&.onePage-wrapper {
		position: relative;
	}
}