/*****
    
    Used to style the bottom nav for plugins:
    - Ak Onepage
    - Ak media with archive 
    - Ak carousel

    the bottom nav consists of carousel arrows 
    & may also have social icons
****/

.ak-post-nav {
    margin-top: 1em;

    &__label {
        display: block;
        text-align: center;
        font-weight: 600;
        font-family: $font-family-serif;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button,
    &__button:focus {
        border: none;
        background: none;
        padding: 0;
        outline: none;

        .ak-post-nav__icon {
            height: 30px;
            width: 30px;
            transition: fill 300ms ease-in;
        }

        &:hover {
            .ak-post-nav__icon {
                fill: $accent-color;
            }
        }
    }
}
