/*****
	
	Styles for the contact items in the footer
	used sitewide
	include city name, tel, email with icons
	also inlcudes "looking for someone"-link

****/

.contact-item {
    /* margin-bottom: 1.5em; */
    overflow: auto;
    
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    //border-top: 2px dotted $copy-light;

	@media (max-width: $min-desktop) {
		position: relative;
		
		&::before {
			display: block;
		    content: '';
		    height: 2px;
		    width: 100%;
		    position: absolute;
		    top: 0;
		    right: 0;
    		border-bottom: 2px dotted $copy-light;
		}
	} 

	@media (min-width: $min-tablet) {
		&::before {
			width: 70%;
		}
	}  

    @media(min-width: $min-desktop) {
    	//border-top: none;
    	border-bottom: 2px dotted $copy-light;
    }

    br {
    	display: none;
    }


    &__wrapper {
    	@media (min-width: $min-tablet) and (max-width: $min-desktop) {
    		width: 30%;
    		float: left;
    	}
    }

	//looking for someone?
    &--link {
    	 border-bottom: 2px dotted #e2e4e5;
		
		@media (min-width: $min-tablet) and (max-width: $min-desktop) {
    	 	width: 70%;
    	 	float: right;

    	 	&::before {
				width: 100%;
			}

    	 	.contact-item__wrapper {
	    	 	width: 100%;
	    	 	display: flex;
			    align-items: center;
			    justify-content: flex-start;
			}
    	 }
    }
	
	&__icon {
		height: 25px;
		width: 25px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 0.5em; 
	}

	&__icon--location {}

	&__icon--phone {}

	&__icon--mail {}

	&__icon--search {
		background: url('./svg/magnify.svg') top center no-repeat;
		vertical-align: initial;
	}

	&__copy--location {
		font-weight: bold;
    	font-family: $font-family-serif;
    	font-size: 1.2em;
	}

	&__copy--mail {
		border-bottom: 1px solid;
	}

	&__copy--link {
		display: inline-block;
		max-width: 70%;
	}
}

.where-we-live {
	.panel-grid-cell {
    	@media (min-width: $min-tablet) and (max-width: $min-desktop) {
			width: 100%!important;
		}
	}
}