/*****
	
	Used to style the 5 point promise
	used in About us page
****/

.five-point-promise {
	img {
		margin: auto;
	    display: block;

		@media (min-width: $min-tablet) {
			float: right;
		}
	}
}

.five-point-promise--first {
	@media (max-width: $min-tablet) {
		.panel-grid-cell:first-child {
			.textwidget {
				padding-top: 2em;
				border-top: 2px dotted $copy-color;
			}
		}
	}

	@media (min-width: $min-tablet) {
		//give the owl equal padding
		.panel-grid-cell:first-child {
			padding-top: 2em;
		}
		//add dotted border on the text
		.panel-grid-cell:last-child {
			.textwidget {
				border-top: 2px dotted $copy-color;
				padding-top: 2em;	
			}
		}
	}
}

.five-point-diagram--hidden-mobile {
	@media (max-width: $min-tablet) {
		display: none;
	}
}

.five-point-diagram--visible-mobile {
	@media (min-width: $min-tablet) {
		display: none;
	}
}