.page-divider-vertical {

    //use on second cell in first row
    @media (min-width: $min-desktop) {
        .panel-grid-cell:last-child {
            position: relative;

            &::before {
                height: calc(100% + 25px);
                width: 1px;
                content: '';
                display: block;
                position: absolute;
                left: -20px;
                top: -25px;
                border-left: 2px dashed;
            }
        }
    }
}