/*****
	
	Used to style Personal statement carousel

****/

.personal-carousel,
.personal-carousel.slick-slider{
	width: 120px;
	float: right;
	padding-top: 1em;
	padding-bottom: 1em;

	@media (max-width: $min-desktop) {
		position: absolute;
		top: 4em;
		right: 10px;
	}

	@media (min-width: $min-desktop) {
		position: relative;
	}

	.slick-track {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	&::before {
		width: 100%;
	    height: 30px;
	    position: absolute;
	    top: 0;
	    content: '';
	   // background: url(./svg/bracket-top.svg) top left/contain no-repeat;
	    background: url(./svg/maps/bracket-with-dot-top.svg) top left/contain no-repeat;
	}

	&::after {
		width: 100%;
	    height: 30px;
	    position: absolute;
	    bottom: 0;
	    content: '';
	   // background: url(./svg/bracket-top.svg) top left/contain no-repeat;
	    background: url(./svg/maps/bracket-with-dot-bottom.svg) bottom left/contain no-repeat;
	}
}