#scroll-to-top {
    display: block;
    position: static;
    width: 7em;
    text-align: center;
    margin: auto;
    transform: scale(1, 1);
    
    //overrides
    &.displayed {
        opacity: 1!important;

        &:hover,
        &:focus {
            opacity: 1!important;

            .scroll-to-top__icon {
                fill: $accent-color;
            }
        }
    }

    .vantage-icon-arrow-up {
        display: none;
    }

    .scroll-to-top__icon {
        /* height: 20px;
        width: 30px;
        display: block;
        margin: auto;
        background: url(./svg/scroll-top.svg) top center no-repeat; */
        

        transition: fill 300ms ease-in;
        max-width: 100%;
        width: 30px;
        height: 30px;
        display: block;
        margin: auto;
    }
}

