/*****
    
    Styles for scroll to section

****/

.scroll-to-section {
    br {
        display: none;
    }

    &__button { 
        font-family: $font-family-serif;
    }

    &__icon {
        height: 30px;
        width: 30px;
        display: block;
        margin: auto;
        transition: fill 300ms ease-in;
    }

    &:hover {
        .scroll-to-section__icon {
            fill: $accent-color;
        }
    }

    &__bracket {
        color: $copy-color;
    }
}