.scroll-to-section {
    br {
        display: none;
    }

    &__button { 
        font-family: "Crimson Text";
    }

    &__icon {
        height: 20px;
        width: 30px;
        display: block;
        margin: auto;
        background: url('./svg/scroll-down.svg') top center no-repeat;
    }

    &__bracket {
        color: #000;
    }
}