/*****
	
	Section transitions

****/

@media (min-width: $min-tablet) {
	.section,
	#footer-widgets,
	.inner-section {
		opacity: 0;
		transform: scale(0.5, 0.5);
		transition: all 500ms ease-in;

		&--is-visable {
			opacity: 1;
			transform: scale(1, 1);
		}
	}

	#footer-widgets.section--is-visable {
		opacity: 1;
		transform: scale(1, 1);
	}
}