.ak-social__wrapper {
	display: flex;
    align-items: center;
    justify-content: space-around;

	@media (min-width: $min-tablet) {
    	justify-content: center;
    }
	
    @media (min-width: $min-desktop) {
    	justify-content: space-between;
    }

	&__icon {

	}

}