.ak-social__wrapper {
	padding-top: 1em;
	display: flex;
    align-items: center;
    justify-content: space-around;

	@media (min-width: $min-tablet) and (max-width: $min-desktop) {
    	justify-content: flex-start;
	    width: 70%;
	    float: right;
    }
	
    @media (min-width: $min-desktop) {
    	justify-content: space-between;
    }

	&__icon {
	}
}

.ak-social__icon {
	max-width: 40px;

	.ak-icon {
		max-height: 32px;
		transition: fill 300ms ease-in;

		&:hover,
		&:hover {
			fill: $accent-color;
		}
	}
}