.archive-and-post {
	h1, h2 {
		margin-top: 0!important;
	}
}

.onePage.slick-slider {
    border-top: 2px dotted;

	.onePage-post__headline {
		color: $copy-color!important;
		margin: .5em 0 0!important;
		font-weight: 600;
	}

	em {
		font-family: "Crimson Text";
	}

	.onePage-post__content p:first-child {
		margin-top: 0!important;
	}
}

.onePage-archive__list {
	.onePage-archive__title {
		text-decoration: underline;
	}

	.onePage-archive__date {
		font-style: italic;
		font-family: "Crimson Text";
	}

	.slick-list {
		height: 100%!important;
	}

	.slick-track {
		transform: translate3d(0px, 0px, 0px)!important;
	}
}

.onePage-archive__headline {
	color: $copy-color!important;
	position: relative;
	font-weight: 600!important;


	&::after {
		width: 100%;
		content: '';
		position: absolute;
		border-bottom: 2px dotted;
		left: 0;
		bottom: -.5em;
	}
}

.onePage-wrapper {
	position: relative;
}

.onePage__bottom {
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.onePage__social {
}

.onePage__button,
.onePage__button:focus {
	border: none;
    background: none;
    padding: 0;
    outline: none;

    .onePage__icon {
	    height: 30px;
	    width: 30px;
        transition: fill 300ms ease-in;
    }

    &:hover {
        .onePage__icon {
            fill: $accent-color;
        }
    }
}
