.success-stories.slick-slider {
	display: flex;
	flex-wrap: wrap;

	.slick-arrow {
		order: 1;
	}
}

.success-archive__list {
	.slick-list {
		height: 100%!important;
	}

	.slick-track {
		transform: translate3d(0px, 0px, 0px)!important;
	}
}