/*****
	
	Override styles for the rotating twitter feed widget

****/

.twitter-feed {
	display: flex;
	align-items: center;

	@media (max-width: $min-tablet) {
		flex-direction: column;
	}
	.widget-title {
		display: none;
	}

	.widget {
		margin: 0;
	}

	//target twitter feed column
	.panel-grid-cell-mobile-last {
		position: relative;

		//force max width on mobile
		@media(max-width: $min-desktop) {
			width: 100%!important;
		}
	}

	.panel-grid-cell-empty {
		@media(max-width: $min-desktop) {
			display: none;
		}
	}
}

.twitter-feed__widget {
	.textwidget {
		display: flex;

		.ak-icon {
			flex: 0 1 10%;
		}

		aside {
			width: auto;
		    overflow: hidden;
		    flex: 1 1 80%;
		}

		.rotatingtweets {
			max-width: 100%!important;
		}

		.rtw_meta {
			font-weight: 600;
		}
	}
}