$background-color: #ffffff;
$copy-color: #000000;
$copy-light: #e2e4e5;
$accent-color: #ffcc33;


$mobile-landscape: 567px;
$min-tablet: 767px;
$min-desktop: 958px;

$font-family-serif: "Crimson Text", serif;
$font-family: "PT Sans", helvetica, Arial, sans-serif;

// sets the max site width
body.responsive.layout-full #page-wrapper .full-container {
    max-width: 940px;
}

//set body content margin 
#main {
    padding: 0 10px;
}

a {
	transition: color 300ms ease-in;
}

em {
	font-family: $font-family-serif;
} 