//THESE SHOULD BE ADDED TO CMS

.ak-nav__wrapper li a::after {
    background: #ffc72a; 
}

#scroll-to-top {
  color: #000000;
}

#scroll-to-top:hover {
  color: #000000;
}

.scroll-to-top__copy {
  color: #ffc72a;
}

/* .entry-title::before {
  content: '— ';
} */

.page-number {
    font-size: 76px;
    font-family: "Crimson Text";
    color: #ffc72a;

    .textwidget p:last-child {
    	margin-bottom: 0.5em;
    }

    @media (min-width: $min-tablet) {
    	margin-top: 36px; // same as content h1
    }
}