$bottom: bottom;
p:empty {
    display: none;
}

.textwidget {
	ul {
		list-style-type: disc;
		margin-left: 0;
	}
}

@media (min-width: $min-tablet) and (max-width: $min-desktop) {
	#pg-9-4 .panel-grid-cell {
		&#pgc-9-4-0 {
			width: 30.044%!important;
		}

		&#pgc-9-4-1,
		&#pgc-9-4-2 {
    		width: 34.978%!important;
		}
	}
}

hr {
	background: none!important;
	@include border-dotted($bottom);
}

/* hide/display on mobile */
@media (min-width: $min-tablet) {
	.visible-mobile {
	  display: none!important;
	}
}

@media (max-width: $min-tablet) {
	.hidden-mobile {
	  display: none!important;
	}
}


/* hide/display on desktop */
@media (max-width: $min-desktop) {
	.visible-desktop {
	  display: none!important;
	}
}

@media (min-width: $min-tablet) {
	.hidden-desktop {
	  display: none!important;
	}
}

/* hide/display on tablet */
@media (max-width: $min-tablet) {
	.visible-tablet {
	  display: none!important;
	}
}

@media (min-width: $min-desktop) {
	.visible-tablet {
	  display: none!important;
	}
}

@media (min-width: $min-tablet) and (max-width: $min-desktop) {
	.hidden-tablet {
	  display: none!important;
	}
}