.site-footer {

    //hide "a siteorigin theme"
    #theme-attribution {
        display: none;
    }

    #footer-widgets .widget {
        padding: 0;
        width: 100%;
    }

    .widget-title {
        display: none;
    }

    // target address at bottom
    #footer-widgets > .widget_black_studio_tinymce {
        margin-bottom: 1em;
        p {
            font-family: "Crimson Text";
            color: $copy-light!important;

            strong {
                color: $copy-color;
            }  
        }  
    }

    /* #footer-widgets {
        .widget {
            margin-bottom: 1em;
            .widget-title {
                text-align: center;
                margin-bottom: 0.3em;
            }

            //mobile override
            @media screen and (max-width: 640px) {
                padding-bottom: 0!important;
            }
        }
    } */

    h2 {
        font-size: 36px;
        color: $accent-color;
        line-height: 1em;
    }
}

.where-we-live {
    //fix tablet footer order
    @media (max-width: $min-desktop) {
        display: flex;
        flex-direction: column-reverse;
    }

    @media (max-width: $min-desktop) {
        > .panel-grid-cell:first-child {
            padding-top: 1em!important;
            //border-bottom: 2px dotted $copy-light;
        }

        > .panel-grid-cell {
            padding-left: 0!important;
            padding-right: 0!important;
        }
    }

    @media (max-width: $min-desktop) {
        > .panel-grid-cell:last-child {
            border-top: 2px dotted;
            padding-top: 1em!important;
        }
    }

    @media (min-width: $min-tablet) and (max-width: $min-desktop) {
        > .panel-grid-cell:last-child {
            width: 70%!important;
            align-self: flex-end;
        }
    }

        

    @media (min-width: $min-desktop) {
        > .panel-grid-cell {
            > .widget:first-child {
                border-top: 2px dotted;
            }
        }

        .footer__img {
            padding-top: 1em!important;
            padding-bottom: 1em;
            border-bottom: 2px dotted $copy-light;

        }
    }
}

//override widget spacing, looked weird on mobile
body.responsive #footer-widgets .widget:last-child {
    padding-bottom: 0;
}

 
body.responsive #footer-widgets .widget {
    @media screen and (max-width: 640px) {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}
