$height-transition: min-height 300ms ease-in;

.ak-nav {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
}

.ak-nav__wrapper {
    counter-reset: nav-item-counter;
    display: flex;
    float: right;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    width: 70%;

    li {
        //color: $accent-color;
        display: inline-block;
        flex: 0 1 auto;
        overflow-x: hidden;
        padding: 1em 2em;
        position: relative;
        text-align: center;

        //add the number above
        a::before {
            content: counter(nav-item-counter, decimal-leading-zero);
            counter-increment: nav-item-counter;
            display: block;
        }
      
        //add the line below
        a::after {
            background: currentcolor;
            bottom: 0;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transform: translateX(-101%);
            transition: transform 500ms ease-in;
            width: 100%;
        }
      
        //animate the line on hover
        a:hover {
            &::after {
                transform: translateX(0%);
            }
        }
    }
}

.mobile-nav-frame {
    .title {
        border: none!important;
    }

    h3 {
        text-shadow: none!important;
    }
    
    ul {
        border: none!important;
        box-shadow: none!important;

        li {
            border: none!important;

            a.link {
                text-shadow: none!important;
            }
        }
    }

    background-color: $background-color;
    width: 100%!important;
    height: 0%!important;
    min-height: 0%;
    right: 0!important;
    transition: $height-transition;
    display: block!important;

    .mobile-nav-icon {
        display: none;
    }

    &.ak_mobile_nav--open {
        min-height: 100%!important;
        transition: $height-transition;
    }
}