$height-transition: min-height 300ms ease-in;

.ak-nav {
    /* padding-top: 10px;
    padding-bottom: 10px; */
    @media (min-width: $min-desktop) {
        width: 70%;
        float: right;
        overflow: auto;
    }
}

/* @media (min-width: $min-desktop) { */
    .main-navigation {
        border-bottom: 1px dotted lightgray;
        padding-top: 1rem;
    }
/* } */
.ak-nav__wrapper {
    //this is the main nav on desktop
    @media (min-width: $min-desktop) {
        @include counter-reset(nav-item-counter);
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-left: 0;
        margin-top: 2rem!important;

        li {
            display: inline-block;
            flex: 1 1 auto;
            overflow-x: hidden;
            position: relative;
            text-align: center;

            a {//override
                padding: 1em 0!important;
                font-weight: 400;
            }

            //add the number above
            a::before {
                @include counter(nav-item-counter);
            }
          
            //add the line below
            a::after {
                transform: translateX(-101%);
                transition: transform 500ms ease-in;
                @include underline();
            }
          
            //animate the line on hover
            a:hover {
                &::after {
                    transform: translateX(0%);
                }
            }
        }

    }
}

//this is the mobile nav
.mobile-nav-frame .mobile {
    @include counter-reset(nav-item-counter);

    li {
        display: block;
        overflow-x: hidden;
        padding: 1em 1em;
        position: relative;
        text-align: center;
        font-size: 1rem!important;

        @media (orientation:landscape) {
            display: inline-block;
        }

        //add the number above
        a::before {
            @include counter(nav-item-counter);
        }
      
        //add the line below
        a::after {
            @include underline();
            transform: translateX(-101%);
            transition: transform 500ms ease-in;
        }
      
        //animate the line on hover
        a:hover,
        a:focus {
            &::after {
                transform: translateX(0%);
            }
        }
    }
}

 //add the nav open transition & overrides
.mobile-nav-frame {
    //lots of overrides
    .title {
        border: none!important;
    }

    h3 {
        display: none;
    }
    
    ul {
        border: none!important;
        box-shadow: none!important;
        border-radius: 0;

        li {
            border: none!important;

            a.link {
                text-shadow: none!important;
                margin-right: 0px!important;

                @media (min-width: $mobile-landscape) {
                    font-size: 1.4rem!important;
                }
            }
        }
    }

   
    width: 100%!important;
    height: 0%!important;
    min-height: 0%;
    right: 0!important;
    transition: $height-transition;
    display: block!important;

    //transition the height to on menu open
    &.ak_mobile_nav--open {
        min-height: 100%!important;
        transition: $height-transition;
    }

    //vertically center the nav
    .slides-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    //center mobile nav on landscape
    .slide {
        text-align: center;
    }
    
    //override
    .mobile {
        margin-left: 0;
        margin-right: 0;
        display: inline-block;
        position: relative;

        //add the lines above and below the mobile & tablet portrait menu
        @media (max-width: $min-desktop) and (orientation: portrait) {
            &::before {
                @include underline(100%);
                height: 17px;
                background: url('./png/bracket-top.png') top center / contain no-repeat;
            }

            &::after {
                @include underline(-17px);
                background-color: black;
                height: 17px;
                background: url('./png/bracket-bottom.png') top center / contain no-repeat;
            }
        }
    }
}

//set line for current item
.ak-nav__wrapper .current_page_item {
    //add the line below
    a::after {
        @include underline();
        transform: translateX(0);
    }
}

//align items logo & menu button on mobil & tablet
.mobile-navigation .full-container {
    @media (max-width: $min-desktop) {
        overflow: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 10px;
    }
}

//menu icon sizing
.mobilenav-main-link img {
    max-width: 40px;
    max-height: 25px;
}

//hide the default menu icon
.mobile-nav-icon {
    display: none;
}


//override padding on logo 
@media (max-width: 1080px) {
    body.responsive #masthead.masthead-logo-in-menu .logo {
        display: none;
    }
}

.custom-logo-link {
    display: inline-block;
    float: left;
    //override padding on logo 
    @media (max-width: 1080px) {
        margin-left: 10px;
        max-width: 20%;

        .custom-logo {
            max-width: 100%!important;
            height: auto!important;
        }
    }
}