$height-transition: min-height 300ms ease-in;
$mobile-landscape: 567px;
$min-tablet: 767px;
.ak-nav {
    /* padding-top: 10px;
    padding-bottom: 10px; */
    overflow: auto;
}

.ak-nav__wrapper {
    @media (min-width: $min-tablet) {
        counter-reset: nav-item-counter;
        display: flex;
        float: right;
        justify-content: space-between;
        list-style: none;
        padding-left: 0;
        width: 70%;

    

        li {
            //color: $accent-color;
            display: inline-block;
            flex: 1 1 auto;
            overflow-x: hidden;
            position: relative;
            text-align: center;

            a {//override
                padding: 1em 0!important;
            }

            //add the number above
            a::before {
                content: counter(nav-item-counter, decimal-leading-zero)'.';
                counter-increment: nav-item-counter;
                display: block;
                font-size: 0.8em;
            }
          
            //add the line below
            a::after {
                bottom: 0;
                content: '';
                height: 1px;
                left: 0;
                position: absolute;
                transform: translateX(-101%);
                transition: transform 500ms ease-in;
                width: 100%;
            }
          
            //animate the line on hover
            a:hover {
                &::after {
                    transform: translateX(0%);
                }
            }
        }

    }
}

//clean this up to only use what's needed
.mobile-nav-frame .mobile {
    counter-reset: nav-item-counter;
    li {
        //color: $accent-color;
        display: block;
        /* flex: 0 1 auto; */
        overflow-x: hidden;
        padding: 1em 1em;
        position: relative;
        text-align: center;
        font-size: 1rem!important;

        @media (min-width: $mobile-landscape) {
            display: inline-block;
        }

        //add the number above
        a::before {
            content: counter(nav-item-counter, decimal-leading-zero);
            counter-increment: nav-item-counter;
            display: block;
        }
      
        //add the line below
        a::after {
            background: currentcolor;
            bottom: 0;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transform: translateX(-101%);
            transition: transform 500ms ease-in;
            width: 100%;
        }
      
        //animate the line on hover
        a:hover {
            &::after {
                transform: translateX(0%);
            }
        }
    }
}

.mobile-nav-frame {
    //lots of overrides
    .title {
        border: none!important;
    }

    h3 {
        display: none;
    }
    
    ul {
        border: none!important;
        box-shadow: none!important;

        li {
            border: none!important;

            a.link {
                text-shadow: none!important;
            }
        }
    }

    width: 100%!important;
    height: 0%!important;
    min-height: 0%;
    right: 0!important;
    transition: $height-transition;
    display: block!important;

    //transition the height to on menu open
    &.ak_mobile_nav--open {
        min-height: 100%!important;
        transition: $height-transition;
    }

    //vertically center the nav
    .slides-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    //center mobile nav on landscape
    .slide {
        text-align: center;
    }

 
    .mobile-nav-icon {
        display: none;
    }

    
    //override
    .mobile {
        margin-left: 0;
        margin-right: 0;
        display: inline-block;
    }
}

//set line for current item
.ak-nav__wrapper .current_page_item {
    //add the line below
    a::after {
        bottom: 0;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
        transform: translateX(0);
    }
}